<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>Hello from Okten</header>
<div>
    Do not worry we control your password. Just follow our steps.
</div>
<div>
    <a href="{{front_url}}/activate?token={{token}}">Click to activate your password</a>
</div>
</body>
</html>